@import "tailwindcss";

/* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  display: none;
}